* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
:root{
    --bg: linear-gradient(105deg, #2A253C, #64A19A, #2A253C);
    --light-color: #fad3b4;
    --medium-color: #9BD0D4;
    --dark-color: #2A253C;
}

body.dark{
     --bg: linear-gradient(105deg, #240909, #b47e18, #240909);
    --light-color: #974754;
    --medium-color: #a0d49b;
    --dark-color: #000000;
}

body {
    min-height: 100vh;
    background: var(--bg)
}

header {
    background-color: var(--dark-color);
    color: var(--light-color);
    position: relative;
    top: 0;
}
h1{
    display: flex;
    justify-content: center;
}
ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px; 
    margin: auto 2%
    

}
li {
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color: var(--light-color);
    text-decoration: none;
}
a:hover {
    color: #2A253C;
}
#changementTheme{
    display:flex; 
            justify-content: end;
}
#toggleTheme {
    width: 120px;
    height: 160%;
    border-radius: 8px;
    border: none;
    box-shadow: 0 8px 10px rgba(13, 1, 26, 0.3);
    margin: 1% 1% 3% 0;
    background-color: var(--medium-color);
    color: var(--dark-color);
    font-weight: 600;

}
.accueil, .reglesbtn {
    display: flex;
    justify-content: center;
    width: auto;
    height: 160%;
    font-size: 19px;
    background-color: transparent;
    border: none;
    color: var(--light-color);

}

.accueil:hover, .reglesbtn:hover {
    background-color:var(--light-color);
}

.jeu {
    display: flex;
    justify-content: center;
    width: auto;
    height: 160%;
    font-size: 19px;
    background-color: transparent;
    border: none;
    color: var(--light-color);
}

.jeu:hover {
    background-color: var(--light-color);
}

#toggleTheme {
    display: flex;
    justify-content: center;
    font-size: 19px;
}

h2 {
    display: flex;
    justify-content: center;
}

.reglespres {
    width: 75%;
    color: var(--dark-color);
    background-color: var(--light-color);
    border-radius: 0 25px 0 25px;
    font-size: 21px;
    padding : 15px;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


img {
    width: 33%;
    height: auto;
}

.exemples {
    display: flex;
    flex-direction: row;
    margin: 15% 0;
    gap: 3px
}

footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
}