* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
:root{
    --bg:radial-gradient(circle,#698cce 0%, rgb(4, 1, 12) 100%);
    --light-color: #b9175a;
    --bg-presentation: #ebdfc6;
    --medium-color: #9BD0D4;
    --dark-color: #171522;
}

body.dark{
     --bg:radial-gradient(circle,rgba(189, 32, 63, 1) 0%, rgb(190, 132, 74) 100%);
    --light-color: #eccea1;
    --bg-presentation: #dac78b;
    --medium-color: #6c649c;
    --dark-color: #0c0202;
}

body {
    min-height: 100vh;
    background: var(--bg)
}

header {
    background-color: var(--dark-color);
    color: var(--light-color);
    position: relative;
    top: 0;
}
h1{
    display: flex;
    justify-content: center;
}
ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px; 
    margin: auto 2%
    

}
li {
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10% 5% 8% 0; 
}
a {
    color: var(--light-color);
    text-decoration: none;
}
a:hover {
    color: #2A253C;
}
#changementTheme{
    display:flex; 
    justify-content: end;

}
#toggleTheme {
    width: 120px;
    height: 160%;
    border-radius: 8px;
    border: none;
    box-shadow: 0 8px 10px rgba(13, 1, 26, 0.3);
    margin: 1% 1% 2% 0;
    background-color: var(--medium-color);
    color: var(--dark-color);
    font-weight: 600;

}
#toggleTheme:hover{
    background-color: var(--light-color);
}
.accueil, .reglesbtn, .apropos {
    display: flex;
    justify-content: center;
    width: auto;
    height: 160%;
    font-size: 19px;
    background-color: transparent;
    border: none;
    border-radius: 7px;
    color: var(--light-color);

}

.accueil:hover, .reglesbtn:hover, .apropos:hover {
    background-color:var(--light-color);
}

#toggleTheme {
    display: flex;
    justify-content: center;
    font-size: 19px;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2), 2px 2px 0 rgba(0,0,0,0.2), 3px 3px 0 rgba(0,0,0,0.2);
}

h2 {
    display: flex;
    justify-content: center;
}

.reglespres {
    width: 75%; 
    color: var(--dark-color);
    background-color: var(--bg-presentation);
    border-radius: 0 25px 0 25px;
    font-size: 21px;
    padding : 15px;
    border: 2px solid var(--dark-color);
    box-shadow: 0 10px 15px var(--dark-color);
}

.presentation {
    width: 90%;
    height : 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    width: 33%;
    height: auto;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2), 2px 2px 0 rgba(0,0,0,0.2), 3px 3px 0 rgba(0,0,0,0.2);
}
.imggroup{
    margin :5% 0 5% 0;
}
.exemples {
    display: flex;
    flex-direction: row;
    margin: 15% 0;
    gap: 3px
}

footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
}


.aproposmain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 5% 8% 0; 
    gap: 20px;
    margin: 0 ; 
    flex-wrap: wrap;
}
.container1{
 background-color: var(--bg-presentation);
  border-radius: 0 25px 0 25px;
  width : 30%;
 display: flex;
 justify-content: center;
align-items: center;
padding : 15px;
border: 2px solid var(--dark-color);
    box-shadow: 0 10px 15px var(--dark-color);
    font-size: 19px;
}
.container2{
background-color: var(--bg-presentation);
 border-radius: 0 25px 0 25px;
 width : 60%; 
  display: flex;
    justify-content: center;
    align-items: center;
    padding : 15px;
    border: 2px solid var(--dark-color);
    box-shadow: 0 10px 15px var(--dark-color);
    font-size: 19px;
}