* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background: linear-gradient(105deg, #2A253C, #64A19A, #2A253C);
    min-height: 100vh;
}

header {
    background-color: #2A253C;
    color: #fad3b4;
    position: relative;
    top: 0;
}

ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px; 
    margin: auto 2%
    

}

li {
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}



a {
    color: #fad3b4;
    text-decoration: none;
}

a:hover {
    color: #2A253C
}

#toggleTheme {
    width: 120px;
    height: 160%;
    border-radius: 8px;
    border: none;
    box-shadow: 0 8px 10px rgba(13, 1, 26, 0.3);
    margin: 1% 1% 3% 0;
    background-color: #9BD0D4;
    color: #2A253C;
    font-weight: 600;

}

.accueil {
    display: flex;
    justify-content: center;
    width: auto;
    height: 160%;
    font-size: 19px;
    background-color: transparent;
    border: none;
    color: #fad3b4;

}

.accueil:hover {
    background-color: #fad3b4;
}

.jeu {
    display: flex;
    justify-content: center;
    width: auto;
    height: 160%;
    font-size: 19px;
    background-color: transparent;
    border: none;
    color: #fad3b4;
}

.jeu:hover {
    background-color: #fad3b4;
}

#toggleTheme {
    display: flex;
    justify-content: center;
    font-size: 19px;
}

h2 {
    display: flex;
    justify-content: center;
}

.regles {
    width: 75%;
    color: #2A253C;
    background-color: #fad3b4;
    border-radius: 0 25px 0 25px;
    font-size: 21px;
    padding : 15px;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img {
    width: 33%;
    height: auto;
}

.exemples {
    display: flex;
    flex-direction: row;
    margin: 15% 0;
    gap: 3px
}

footer {
    background-color: #2A253C;
    color: #fad3b4;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
}